<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12">
        <h1 class="page-header">Sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Danh mục
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" data-toggle="tooltip" title="Thêm">
                        <i class="fa fa-plus text-info"></i>
                    </a>
                    <a class="btn btn-default btn-xs" data-toggle="tooltip" title="Sửa">
                        <i class="fa fa-pencil text-info"></i>
                    </a>
                    <a class="btn btn-default btn-xs" data-toggle="tooltip" title="Xóa">
                        <i class="fa fa-times text-info"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="category in service.listCategories | orderBy:'id'" class="checkbox">
                    <label class="text-primary">
                        <input type="checkbox" ng-model="category.checked" ng-change="selectCategory($index)">
                        <span ng-bind="category.name"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                Sản phẩm
                <div class="pull-right">
                    <input type="text" class="" ng-model="service.searchName" placeholder="Tìm kiếm tên">
                    <a class="btn btn-primary btn-xs text-info" data-toggle="tooltip" title="Thêm mới">
                        <i class="fa fa-search"></i>
                    </a>
                    <a class="btn btn-primary btn-xs text-info" data-toggle="tooltip" title="Thêm mới">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 text-center" ng-repeat="product in service.listProducts">
                    <div class="thumbnail">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSCEGicawLQvfTRcc9B3rM3u1KR0mUtfcDR1TtH1Se0JljMyw_a"
                             class="img-rounded img-responsive center-block" alt="Product image">

                        <div class="caption">
                            <div class="row">
                                <strong class="col-lg-6 col-md-6 text-left text-danger">
                                    {{formatPrice(product.price-product.sale_off-product.discount/100*product.price)}}đ
                                </strong>
                                <del class="col-lg-6 col-md-6 text-right text-danger">
                                    {{formatPrice(product.price)}}đ
                                </del>
                            </div>
                            <div class="row">
                                <a href="" ng-click="viewProduct(product,$index)">
                                    <h4 class="text-success" ng-bind="product.name"></h4>
                                </a>
                            </div>
                            <div class="row text-info">
                                <small>Số lượng: {{product.quantity}}</small>
                            </div>
                            <h5>
                                <a class="btn btn-info" data-toggle="tooltip" title="Sửa"
                                   ng-click="viewProduct(product,$index)">
                                    Sửa
                                </a>
                                <a class="btn btn-danger" data-toggle="tooltip" title="Xóa"
                                   mwl-confirm title="Xóa ảnh" message="Bạn có chắc muốn xóa sản phẩm này?"
                                   confirm-text="Có" cancel-text="Không"
                                   placement="top" button-type="danger" cancel-button-type="default"
                                   on-confirm="deleteProduct(product,$index)">
                                    Xóa
                                </a>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="text-right">
                    <uib-pagination total-items="service.totalItems" ng-model="service.currentPage"
                                    items-per-page="service.limit" ng-change="pageChanged()" max-size="5"
                                    class="pagination-sm" boundary-link-numbers="true" rotate="false">
                    </uib-pagination>
                </div>
            </div>
        </div>

    </div>


</div>