<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12 col-md-12">
        <h1 class="page-header">
            Khách hàng
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Danh sách
                <div class="pull-right">
                    <input type="text" ng-model="service.searchName"
                           placeholder="Tên,địa chỉ, số điện thoại"
                           ng-show="searching">
                    <button class="btn btn-xs btn-success btn-xs" data-toggle="tooltip" title="Tìm kiếm"
                            ng-click="enableSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-success btn-xs" data-toggle="tooltip" title="Thêm mới"
                            ng-click="showCreateCustomer()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr class="text-primary">
                            <th ng-repeat="header in headerTable">{{header}}</th>
                        </tr>
                        <tr ng-repeat="customer in service.listCustomers">
                            <td>{{(service.currentPage-1)*service.limit+$index+1}}</td>
                            <td><a href="" ng-click="showViewCustomer(customer,$index)" ng-bind="customer.name"></a>
                            </td>
                            <td ng-bind="customer.description"></td>
                            <td ng-bind="customer.group"></td>
                            <td>
                                <button class="btn btn-default" data-toggle="tooltip" title="Sửa"
                                        ng-click="showViewCustomer(customer,$index)">
                                    Sửa
                                </button>
                                <buton class="btn btn-default" data-toggle="tooltip" title="Xóa"
                                       mwl-confirm title="Xóa khách hàng" message="Bạn có chắc muốn xóa khách hàng này?"
                                       confirm-text="Có" cancel-text="Không"
                                       placement="top" button-type="danger" cancel-button-type="default"
                                       on-confirm="deleteCustomer(customer)">
                                    Xóa
                                </buton>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="text-right">
                    <uib-pagination total-items="service.totalItems" ng-model="service.currentPage"
                                    items-per-page="service.limit" ng-change="pageChanged()" max-size="5"
                                    class="pagination-sm" boundary-link-numbers="true" rotate="false">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
